button, input, select, textarea, img, a {
    outline: none;
    box-shadow: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.hidden {
    display: none;
}

.splash-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #101010;
    background-size: cover;
    background-position: center;
    position: absolute;
} 

.splash-title {
    top: 80%; 
    font-size: 40px;
    font-weight: 900;
    font-family: 'JetBrains Mono', monospace;
}

.splash-subtitle {
    font-size: 20px;
}

.splash-loading img {
    top: 30%; 
    width: 200px;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
}

.loading-spinnerr {
    backdrop-filter: blur(5px);
    border: 7px solid rgba(0, 0, 0, 0.3); /* الحواف الشفافة */
    border-top: 7px solid #fff; /* اللون الأبيض في الجزء العلوي */
    border-radius: 50%; /* جعل الشكل دائريًا */
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite; /* التحريك المستمر */
}

/* حركة التدوير */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}  
  
.screen-content {
    flex: 1;
    display: none;
    padding: 10px;
    position: relative;
    background: inherit;
    overflow: hidden;
}

.screen-content.scrollable {
    overflow-y: auto;
}

.screen-content.active {
    display: block;
}

body {
    margin: 0;
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    background-color: #181818;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    width: 100%;
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #181818, #000);
}
 
 /* تصميم الإشعار */
.notification {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9px);
    color: #fff;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 13px;
    z-index: 1000;
    opacity: 0;
    width: 280px;
    max-width: 82%;
    text-align: left;
    transition: opacity 0.5s ease, top 0.5s ease;
}

.notification.show {
    animation: slideDown 0.5s ease-out forwards;
    opacity: 1;
}

/* تأثير التحريك من الأعلى */
@keyframes slideDown {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 14px;
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.profile-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    align-items: center;
}

.profile-container img {
    border-radius: 50%;
    width: 33px; /* يمكنك تعديل الحجم حسب الحاجة */
    height: 33px;
    object-fit: cover;
    border: 2px solid #181818;
    margin-right: 5px; /* مسافة بين الصورة والاسم */
}

.profile-container .username {
    font-size: 16px;
    margin-right: 8px; 
    font-weight: bold;
    color: #888; /* أو أي لون آخر يناسبك */
}

.user-id {
    display: none; /* إخفاء العنصر */
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    position: fixed;
    bottom: 32px;
    border-radius: 35px;
    width: 89.5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #181818;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 10px auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 95%;
    z-index: 100;
}

.menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.menu-item {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px auto;
    transition: all 0.3s ease;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item i {
    font-size: 1.3rem;
    color: #808080;
    transition: color 0.3s ease;
}

.menu-item.active .icon-wrapper {
    background-color: #2D83EC;
    box-shadow: 0 0 2px rgba(45, 131, 236, 0.7), 
                inset 0 0 2px rgba(255, 255, 255, 0.5), 
                inset 0 0 3px rgba(45, 131, 236, 0.8);
    position: relative;
    transform: scale(1.1);
}

.menu-item.active i {
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
                 0 -1px 2px rgba(255, 255, 255, 0.5);
}

.menu-label.active {
    color: #fff;
}

.menu-label {
    position: absolute;
    top: 60px;
    font-size: 12px;
    color: #808080;
    margin-top: 5px;
    text-align: center;
    transition: color 0.3s ease;
}

.menu button.active img {
    opacity: 1;
    position: relative;
    z-index: 2;
}

.menu button:hover::before {
    opacity: 1;
}

.menu-item.active i {
    color: #fff;
}

#Daily-earning {
    font-weight: 500;
    z-index: 100;
    color: #808080;
    font-size: 12.5px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 35px;
    padding: 8px;
}

#t {
    font-weight: 500;
    z-index: 100;
    color: #808080;
    font-size: 12.5px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 8px;
}

