.competition-link {
  display: block;
  text-decoration: none; /* لإزالة الخط السفلي من الرابط */
}

.competition-container {
  width: 92%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  text-align: center;
  margin: 15px auto;
  cursor: pointer; /* لإظهار مؤشر يد عند التمرير */
}

.competition-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}


#leaderboardWrapper {
  border-radius: 25px;
  margin: 10px auto;
  width: 95%;
  height: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  font-weight: 500; 
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}

#Leaders-txxt {
  background: linear-gradient(45deg, #2D83EC, #1AC9FF);
  background-color: transparent;
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  margin: 0;
  text-align: center;
  flex: 1;
}

.leaderboard-item {
  margin-left: 18px;
  margin-right: 18px;
} 

.right {
  margin-right: 10px;
  text-align: right;
}

.left {
  margin-left: 10px;
  text-align: left;
}


#brooContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 50%; 
    transform: translateX(-50%);
    margin: 0 auto;
    width: 90%;
    height: 38px;
    z-index: 500;
    border-radius: 25px; /* زوايا مستديرة في الأسفل فقط */
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);*/
} 



/* التصميم الأساسي */
.toggle-container {
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    gap: 160px; /* مسافة بين النص والزر */
}

#vibrationText {
    font-size: 13px;
    white-space: nowrap;
    font-weight: bold;
}

/* زر التبديل */
.toggle-btn {
    position: relative;
    width: 45px;
    height: 23px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* الكرة داخل الزر */
.toggle-ball {
    position: absolute;
    top: 0.95px;
    right: 4px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s ease;
}

/* زر بحالة التشغيل */
.toggle-btn.active {
    background-color: #2D83EC;
}

.toggle-btn.active .toggle-ball {
    left: 26px;
}

/* زر بحالة الإيقاف */
.toggle-btn.inactive {
    background-color: red;
}

#enrContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*position: fixed;
    top: 15px;
    left: 125px;*/
    width: auto;
    height: 30px;
    margin-left: 35%;
    border-radius: 25px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
} 

/*#clickSection {
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 89%;
  height: 55px;
  background-color: #101010;
  border-right: 1px solid #1c1c1c;
  border-top: 1px solid #1c1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding-left: 10px ;
  padding-right: 5px; 
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}*/

#clickSection {
  position: fixed;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  height: 55px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 0; 
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.energy-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circular-energy-bar {
  position: relative;
  width: 40px;
  height: 40px;
}

.progress-ring {
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

.progress-ring__circle {
  stroke: #2D83EC;
  stroke-dasharray: 125.6; /* المحيط = 2 * π * نصف القطر */
  stroke-dashoffset: 0; /* قيمة البداية (الكامل) */
  transition: stroke-dashoffset 0.5s ease;
}

.energy-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
                 0 -1px 2px rgba(255, 255, 255, 0.5); /* تأثير الظلال للأيقونة */
}

#energyInfo {
  margin-left: 5px;
  margin-right: 10px;
  color: white;
  font-size: 13px;
  font-weight: 400; 
  font-style: normal;
  font-family: 'Archivo Black', sans-serif; 
}

#clickDisplay {
  font-size: 16px;
  font-weight: 300; 
  font-style: normal;
  font-family: 'Archivo Black', sans-serif; 
  text-align: center;
  flex: 1;
  margin: 10px auto;
}

/*#clickCountDisplay::before {
    content: "";
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background-image: url('i/coinss.png'); 
    background-size: cover; 
    margin-right: 3px; 
    margin-left: 0;
    vertical-align: middle; 
}*/

#claimButton {
  background-color: #2D83EC;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 20px;
  width: 22%;
  height: 70%;
  font-size: 15px;
  margin-left: auto;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#claimButton:hover {
  background-color: #F7F9FB;
  color: #000;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05); /* شفافية */
    backdrop-filter: blur(2px); 
    display: none; 
    z-index: 999; /* أعلى من باقي العناصر */
}


/* تنسيق كل بوابة */
.portal {
    position: relative;
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.portal:hover {
    transform: scale(1.05);
}

/* تنسيق الصورة داخل البوابة */
.portal img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* تنسيق محتوى البوابة */
.portal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 80%;
}

/* تنسيق العنوان داخل البوابة */
.portal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00c4cc; /* لون تركوازي */
}

/* تنسيق الوصف داخل البوابة */
.portal-description {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    opacity: 0.9;
}

/* تنسيق للأجهزة الصغيرة */
@media (max-width: 768px) {
    .portal {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .portal {
        width: 100%;
    }
}


#mainPage {
    backdrop-filter: blur(3px); 
    padding-top: 50px; 
    overflow-y: auto; 
    background-clip: padding-box;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}



#globalNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 14px;
    left: 24px; 
    width: auto;
    height: 28.5px;
    z-index: 600;
    cursor: pointer;
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

#balanceContainer {
    font-weight: bold;
}

#tasksPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 100px; /* مسافة سفلية */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}


#accountPage {
    padding-top: 60px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}




#gameC-1, #bost2, #puzzle1 {
    animation: slideInLeft 0.4s ease forwards;
}

#gameC-2, #bost1, .user-ranking {
    animation: slideInRight 0.4s ease forwards;
}

#taskcontainer, #daily2, .friend-item, #promocodeBtu, #leaderboardContainer {
    animation: slideInLeft 0.4s ease forwards;
}

#ad {
    animation: slideInRight 0.4s ease forwards;
}

.invite {
    animation: slideInRight 0.4s ease forwards;
}

#invitedCount {
    animation: slideInLeft 0.4s ease forwards;
}

.contact-support-Chat, .bos-image, .contact-support, .contact-support-community, .Leaders-image, .Invitations-image {
   animation: popIn 0.4s ease forwards;
}

