.competition-link {
  display: block;
  text-decoration: none; /* لإزالة الخط السفلي من الرابط */
}

.competition-container {
  width: 92%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  text-align: center;
  margin: 15px auto;
  cursor: pointer; /* لإظهار مؤشر يد عند التمرير */
}

.competition-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05); /* شفافية */
    backdrop-filter: blur(2px); 
    display: none; 
    z-index: 999; /* أعلى من باقي العناصر */
}



/* تنسيق للأجهزة الصغيرة */
@media (max-width: 768px) {
    .portal {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .portal {
        width: 100%;
    }
}


#mainPage {
    backdrop-filter: blur(3px); 
    padding-top: 20px; 
    overflow-y: auto; 
    background-clip: padding-box;
} 

#tasksPage {
    padding-top: 20px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 100px; /* مسافة سفلية */
} 

#accountPage {
    padding-top: 20px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
} 



#gameC-1, #bost2, #puzzle1 {
    animation: slideInLeft 0.4s ease forwards;
}

#gameC-2, #bost1, .user-ranking {
    animation: slideInRight 0.4s ease forwards;
}

#taskcontainer, .friend-item, #promocodeBtu, #leaderboardContainer {
    animation: slideInLeft 0.4s ease forwards;
}

#ad, #daily2 {
    animation: slideInRight 0.4s ease forwards;
}

.invite {
    animation: slideInRight 0.4s ease forwards;
}

#invitedCount {
    animation: slideInLeft 0.4s ease forwards;
}

.contact-support-Chat, .bos-image, .contact-support, .contact-support-community, .Leaders-image, .Invitations-image {
   animation: popIn 0.4s ease forwards;
}


@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8); /* تصغير العنصر بشكل خفيف */
  }
  60% {
    opacity: 1;
    transform: scale(1.1); /* تكبير بسيط لإضافة إحساس بالحيوية */
  }
  100% {
    transform: scale(1); /* العودة للحجم الطبيعي */
  }
}

/* تأثير الدخول من اليمين */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* تأثير الدخول من اليسار */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* تأثير الخروج من اليمين */
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* تأثير الخروج من اليسار */
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
